<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <p>
      &copy; Copyright 2022 : Ticketfinder (Jason Swartz)
    </p>
  </footer>
</body>
</html>